In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [2]:
url = "https://guide.wisc.edu/undergraduate/letters-science/statistics/data-science-bs/#requirementstext"
page = requests.get(url)

In [3]:
text = BeautifulSoup(page.text, "html.parser")

In [4]:
## Search for course catalogue number
#Search for required credits
credit = text.findAll("td", {"class": "hourscol" })
credit
# Search for tags with class 
classtags= text.findAll("td", {"class": "codecol"})
def mod_class(classn):
    str_class = classn.text
    mod_class = str_class.replace(u'\xa0',' ')
    return mod_class
#str_class
## Create dictionary of class lik

In [5]:
for classn in classtags:
    mod_class(classn)

In [7]:
table = text.findAll("tbody")[4]
table_tr = table.findAll("tr")
#table.findAll("span",{"class":"courselistcomment areasubheader undefined"})
def get_ele(x):
    for ele in x:
        return ele.get_text()
for row in table_tr:
    credits = row.findAll("td", {"class": "hourscol" })
    catg = row.findAll("span",{"class":"courselistcomment areasubheader undefined"})
    catg = get_ele(catg)
    classtags= row.findAll("td", {"class": "codecol"})
    classtags = get_ele(classtags)
    print(credits,catg,classtags)

[<td class="hourscol">18</td>] None None
[<td class="hourscol"></td>] None None
[<td class="hourscol">3</td>] Machine Learning None
[<td class="hourscol"></td>] None None
[<td class="hourscol"></td>] None COMP SCI/​E C E/​M E  532
[<td class="hourscol"></td>] None COMP SCI/​E C E/​M E  539
[<td class="hourscol"></td>] None COMP SCI 540
[<td class="hourscol"></td>] None MATH 535
[<td class="hourscol"></td>] None STAT 451
[<td class="hourscol"></td>] None STAT 453
[<td class="hourscol">3</td>] Advanced Computing None
[<td class="hourscol"></td>] None None
[<td class="hourscol"></td>] None COMP SCI 400
[<td class="hourscol"></td>] None COMP SCI 412
[<td class="hourscol"></td>] None COMP SCI/​STAT  471
[<td class="hourscol"></td>] None COMP SCI/​MATH  513
[<td class="hourscol"></td>] None COMP SCI/​MATH  514
[<td class="hourscol"></td>] None COMP SCI/​E C E/​I SY E  524
[<td class="hourscol"></td>] None COMP SCI 564
[<td class="hourscol"></td>] None GEOG 573
[<td class="hourscol"></td>] None GEOG 574
[<td class="hourscol">3</td>] Statistical Modeling None
[<td class="hourscol"></td>] None None
[<td class="hourscol"></td>] None ECON 400
[<td class="hourscol"></td>] None ECON 410
[<td class="hourscol"></td>] None STAT/​MATH  309
[<td class="hourscol"></td>] None STAT/​MATH  310
[<td class="hourscol"></td>] None STAT 311
[<td class="hourscol"></td>] None STAT 312
[<td class="hourscol"></td>] None STAT 349
[<td class="hourscol"></td>] None STAT 351
[<td class="hourscol"></td>] None STAT 421
[<td class="hourscol"></td>] None STAT/​M E  424
[<td class="hourscol"></td>] None STAT/​MATH  431
[<td class="hourscol"></td>] None STAT 443
[<td class="hourscol"></td>] None STAT 456
[<td class="hourscol"></td>] None STAT 461
[<td class="hourscol"></td>] None MATH 531
[<td class="hourscol"></td>] None MATH/​I SY E/​OTM/​STAT  632
[<td class="hourscol"></td>] None MATH 635
[<td class="hourscol">0-3</td>] Linear Algebra None
[<td class="hourscol"></td>] None None
[<td class="hourscol"></td>] None MATH 320
[<td class="hourscol"></td>] None MATH 340
[<td class="hourscol"></td>] None MATH 341
[<td class="hourscol"></td>] None MATH 375
[<td class="hourscol"></td>] None COMP SCI/​E C E/​M E  532
[<td class="hourscol">6-9</td>] Other Electives None
[<td class="hourscol"></td>] None None
[<td class="hourscol"></td>] None E C E 203
[<td class="hourscol"></td>] None ECON 570
[<td class="hourscol"></td>] None GEOG 572
[<td class="hourscol"></td>] None GEOG 575
[<td class="hourscol"></td>] None I SY E 323
[<td class="hourscol"></td>] None I SY E 412
[<td class="hourscol"></td>] None I SY E/​M E  512
[<td class="hourscol"></td>] None I SY E 575
[<td class="hourscol"></td>] None I SY E 612
[<td class="hourscol"></td>] None COMP SCI/​I SY E/​MATH  425
[<td class="hourscol"></td>] None COMP SCI/​I SY E/​MATH/​STAT  525
[<td class="hourscol"></td>] None COMP SCI/​E C E  533
[<td class="hourscol"></td>] None COMP SCI 559
[<td class="hourscol"></td>] None COMP SCI/​B M I  567
[<td class="hourscol"></td>] None COMP SCI/​B M I  576
[<td class="hourscol"></td>] None COMP SCI 577
[<td class="hourscol"></td>] None SOC 351
[<td class="hourscol"></td>] None SOC/​C&E SOC  693
[<td class="hourscol"></td>] None STAT 433