In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [2]:
url = "https://guide.wisc.edu/undergraduate/letters-science/statistics/data-science-bs/#requirementstext"

page = requests.get(url)

In [3]:
text = BeautifulSoup(page.text, "html.parser")

In [4]:
## Search for course catalogue number
#Search for required credits
credit = text.findAll("td", {"class": "hourscol" })
credit
# Search for tags with class 
classtags = text.findAll("td", {"class": "codecol" })
str_class = classtags[0].text
mod_class = str_class.replace('\\',' ')

str_class = re.sub(r"[a-z]"," ",str_class)
mod_class
#str_class
## Create dictionary of class lik

'MATH\xa0221'

In [5]:
# Get the headings for the previous tables

# First, we find all the tables and only keep the tables containing course info
tables = text.findAll("tbody")[2:-1]

table_names = []
for table in tables:
    table_names.append(table.find("span", {"class": "courselistcomment areaheader"}).contents)

DS = []
for i, table_name in enumerate(table_names):
    ## Append table name
    cat = []
    cat.append({"Name":table_name})
    
    ## Next, get the required credits
    credit = tables[i].findAll("tr")
    
    flag = 0 # marks the start of the category
    categories = []
    for row in credit:
        # Search for rows containing numbers
        if row.findAll("td",{"class":"hourscol"}):
            
            print(row.find("td",{"class":"hourscol"}).text)
            # Start of a section!
            if row.find("a"):
                print(row.find("a").text)
            
        else:
            class_no = row.find("a").text
            print(class_no)
        
        #Re-initialize the flag
        flag = 0

            
                
        

    DS.append(cat)
    
DS
# Table 1: Foundatinal Math Classes

5
MATH 221
MATH 217
MATH 275
4
MATH 222
MATH 276

4
STAT 240
4
STAT 340
4
COMP SCI 220
COMP SCI 300
4
COMP SCI 320
3-4
L I S 461
18

3


COMP SCI/​E C E/​M E  532

COMP SCI/​E C E/​M E  539

COMP SCI 540

MATH 535

STAT 451

STAT 453
3


COMP SCI 400

COMP SCI 412

COMP SCI/​STAT  471

COMP SCI/​MATH  513

COMP SCI/​MATH  514

COMP SCI/​E C E/​I SY E  524

COMP SCI 564

GEOG 573

GEOG 574
3


ECON 400

ECON 410

STAT/​MATH  309

STAT/​MATH  310

STAT 311

STAT 312

STAT 349

STAT 351

STAT 421

STAT/​M E  424

STAT/​MATH  431

STAT 443

STAT 456

STAT 461

MATH 531

MATH/​I SY E/​OTM/​STAT  632

MATH 635
0-3


MATH 320

MATH 340

MATH 341

MATH 375

COMP SCI/​E C E/​M E  532
6-9


E C E 203

ECON 570

GEOG 572

GEOG 575

I SY E 323

I SY E 412

I SY E/​M E  512

I SY E 575

I SY E 612

COMP SCI/​I SY E/​MATH  425

COMP SCI/​I SY E/​MATH/​STAT  525

COMP SCI/​E C E  533

COMP SCI 559

COMP SCI/​B M I  567

COMP SCI/​B M I  576

COMP SCI 577

SOC 351

SOC/​C&E SOC  693

STAT 433

[[{'Name': ['Foundational Math Courses']}],
 [{'Name': ['Foundational Data Science Courses']}],
 [{'Name': ['Electives']}]]