In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [2]:
url = "https://guide.wisc.edu/undergraduate/letters-science/statistics/data-science-bs/#requirementstext"

page = requests.get(url)

In [3]:
text = BeautifulSoup(page.text, "html.parser")

In [4]:
## Search for course catalogue number
#Search for required credits
credit = text.findAll("td", {"class": "hourscol" })
credit
# Search for tags with class 
classtags = text.findAll("td", {"class": "codecol" })
str_class = classtags[0].text
mod_class = str_class.replace('\\',' ')

str_class = re.sub(r"[a-z]"," ",str_class)
mod_class
#str_class
## Create dictionary of class lik

'MATH\xa0221'

In [50]:
# Get the headings for the previous tables

# First, we find all the tables and only keep the tables containing course info
tables = text.findAll("tbody")[2:4]

table_names = []
for table in tables:
    table_names.append(table.find("span", {"class": "courselistcomment areaheader"}).contents[0])

DS = []

for table_name in table_names:
    ## Append table name
    cat = []
    cat.append({"Name":table_name})
    
    ## Next, get the required credits
    credit = tables[i].findAll("tr")
    
    flag = 0 # marks the start of the category
    categories = []
    for row in credit:
        # Search for rows containing numbers
        if row.find("td",{"class":"hourscol"}) and len(row.find("td",{"class":"hourscol"}).text) > 0:
            credit = row.find("td",{"class":"hourscol"}).text

            # Start of a section!
            if row.find("a"):
                class_code = row.find("a").contents[0].replace(u'\xa0',' ')
                categories.append([credit,[class_code]])
            
        else:
            if row.find("a"):
                class_code = row.find("a").contents[0].replace(u'\xa0',' ')
                categories[-1][-1].append(class_code)

    DS.append([cat,categories])
    
DS

[[[{'Name': 'Foundational Math Courses'}],
  [['4', ['STAT 240']],
   ['4', ['STAT 340']],
   ['4', ['COMP SCI 220', 'COMP SCI 300']],
   ['4', ['COMP SCI 320']],
   ['3-4', ['L I S 461']]]],
 [[{'Name': 'Foundational Data Science Courses'}],
  [['4', ['STAT 240']],
   ['4', ['STAT 340']],
   ['4', ['COMP SCI 220', 'COMP SCI 300']],
   ['4', ['COMP SCI 320']],
   ['3-4', ['L I S 461']]]]]

In [53]:
table = text.findAll("tbody")[4]
table_tr = table.findAll("tr")

def get_ele(x):
    for ele in x:
        return ele.get_text()
def replace_that(table):
    a = []
    for row in table:
        r = []
        credits = row.findAll("td", {"class": "hourscol" })
        credits = credits[0].get_text()
        catg = row.findAll("span",{"class":"courselistcomment areasubheader undefined"})
        catg = get_ele(catg)
        classtags= row.findAll("td", {"class": "codecol"})
        classtags = get_ele(classtags)
        r.append(credits)
        r.append(catg)
        r.append(classtags)
        a.append(r)
    return(a)

tb = replace_that(table_tr)
#tb = list(tb)
tb

[['18', None, None],
 ['', None, None],
 ['3', 'Machine Learning', None],
 ['', None, None],
 ['', None, 'COMP\xa0SCI/\u200bE\xa0C\xa0E/\u200bM\xa0E\xa0\xa0532'],
 ['', None, 'COMP\xa0SCI/\u200bE\xa0C\xa0E/\u200bM\xa0E\xa0\xa0539'],
 ['', None, 'COMP\xa0SCI\xa0540'],
 ['', None, 'MATH\xa0535'],
 ['', None, 'STAT\xa0451'],
 ['', None, 'STAT\xa0453'],
 ['3', 'Advanced Computing', None],
 ['', None, None],
 ['', None, 'COMP\xa0SCI\xa0400'],
 ['', None, 'COMP\xa0SCI\xa0412'],
 ['', None, 'COMP\xa0SCI/\u200bSTAT\xa0\xa0471'],
 ['', None, 'COMP\xa0SCI/\u200bMATH\xa0\xa0513'],
 ['', None, 'COMP\xa0SCI/\u200bMATH\xa0\xa0514'],
 ['', None, 'COMP\xa0SCI/\u200bE\xa0C\xa0E/\u200bI\xa0SY\xa0E\xa0\xa0524'],
 ['', None, 'COMP\xa0SCI\xa0564'],
 ['', None, 'GEOG\xa0573'],
 ['', None, 'GEOG\xa0574'],
 ['3', 'Statistical Modeling', None],
 ['', None, None],
 ['', None, 'ECON\xa0400'],
 ['', None, 'ECON\xa0410'],
 ['', None, 'STAT/\u200bMATH\xa0\xa0309'],
 ['', None, 'STAT/\u200bMATH\xa0\xa0310'],
 ['', None, 'STAT\xa0311'],
 ['', None, 'STAT\xa0312'],
 ['', None, 'STAT\xa0349'],
 ['', None, 'STAT\xa0351'],
 ['', None, 'STAT\xa0421'],
 ['', None, 'STAT/\u200bM\xa0E\xa0\xa0424'],
 ['', None, 'STAT/\u200bMATH\xa0\xa0431'],
 ['', None, 'STAT\xa0443'],
 ['', None, 'STAT\xa0456'],
 ['', None, 'STAT\xa0461'],
 ['', None, 'MATH\xa0531'],
 ['', None, 'MATH/\u200bI\xa0SY\xa0E/\u200bOTM/\u200bSTAT\xa0\xa0632'],
 ['', None, 'MATH\xa0635'],
 ['0-3', 'Linear Algebra', None],
 ['', None, None],
 ['', None, 'MATH\xa0320'],
 ['', None, 'MATH\xa0340'],
 ['', None, 'MATH\xa0341'],
 ['', None, 'MATH\xa0375'],
 ['', None, 'COMP\xa0SCI/\u200bE\xa0C\xa0E/\u200bM\xa0E\xa0\xa0532'],
 ['6-9', 'Other Electives', None],
 ['', None, None],
 ['', None, 'E\xa0C\xa0E\xa0203'],
 ['', None, 'ECON\xa0570'],
 ['', None, 'GEOG\xa0572'],
 ['', None, 'GEOG\xa0575'],
 ['', None, 'I\xa0SY\xa0E\xa0323'],
 ['', None, 'I\xa0SY\xa0E\xa0412'],
 ['', None, 'I\xa0SY\xa0E/\u200bM\xa0E\xa0\xa0512'],
 ['', None, 'I\xa0SY\xa0E\xa0575'],
 ['', None, 'I\xa0SY\xa0E\xa0612'],
 ['', None, 'COMP\xa0SCI/\u200bI\xa0SY\xa0E/\u200bMATH\xa0\xa0425'],
 ['', None, 'COMP\xa0SCI/\u200bI\xa0SY\xa0E/\u200bMATH/\u200bSTAT\xa0\xa0525'],
 ['', None, 'COMP\xa0SCI/\u200bE\xa0C\xa0E\xa0\xa0533'],
 ['', None, 'COMP\xa0SCI\xa0559'],
 ['', None, 'COMP\xa0SCI/\u200bB\xa0M\xa0I\xa0\xa0567'],
 ['', None, 'COMP\xa0SCI/\u200bB\xa0M\xa0I\xa0\xa0576'],
 ['', None, 'COMP\xa0SCI\xa0577'],
 ['', None, 'SOC\xa0351'],
 ['', None, 'SOC/\u200bC&E\xa0SOC\xa0\xa0693'],
 ['', None, 'STAT\xa0433']]