In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [2]:
url = "https://guide.wisc.edu/undergraduate/letters-science/mathematics/mathematics-ba/mathematics-mathematics-data-risk-analysis-ba/#requirementstext"
page = requests.get(url)

In [3]:
text = BeautifulSoup(page.text, "html.parser")

In [4]:
## Search for Core Math Requirement
#Search for required credits
credit = text.findAll("td", {"class": "hourscol" })
credit
# Search for tags with class 
classtags= text.findAll("td", {"class": "codecol"})
def mod_class(classn):
    str_class = classn.text
    mod_class = str_class.replace(u'\xa0',' ')
    return mod_class
#str_class
## Create dictionary of class lik

In [5]:
for classn in classtags:
    mod_class(classn)

In [6]:
# Get the headings for the previous tables

# First, we find all the tables and only keep the tables containing course info
tables = text.findAll("tbody")

#required core part
table_names = []
#for table in tables[4]:
    #table_names.append(table.find("span", {"class": "odd areasubheader undefined"}))

In [7]:
## INFO FROM ELECTIVES

table = text.findAll("tbody")
table_tr = table[0].findAll("tr")

def get_ele(x):
    for ele in x:
        return ele.get_text()
def replace_that(table):
    a = []
    for row in table:
        r = []
        credits = row.findAll("td", {"class": "hourscol" })
        credits = get_ele(credits)
        
        catg = row.findAll("span",{"class":"courselistcomment areasubheader undefined"})
        catg = get_ele(catg)
        classtags= row.findAll("td", {"class": "codecol"})
        if len(classtags) > 0:
            classtags = get_ele(classtags).replace(u'\xa0',' ')
            classtags = classtags.replace(u'\u200b',' ')
        
        r.append(credits)
        r.append(catg)
        r.append(classtags)
        a.append(r)
    return(a[1:])

tb = replace_that(table_tr)
#tb = list(tb)

#Now, we aim to clean up tb


categories = []
for row in tb:
    ## Categories
    if row[0] != None and len(row[0]) > 0:
        ## Categories
        if row[0] in ["0-3","3-5"]:
            row[0] = 1
        elif row[1] == "Select a distinct introduction course or sequence: ":
            category = ({"Name":row[1]},2,['STAT 340','STAT/ M E  424'])
            categories.append(category)
            pass
        elif row[0] in ["0-6","3-6"]:
            row[0] = 2
        elif row[0] == "6-14":
            row[0] = 3
        else:
            row[0] = round(int(row[0])/3)
        category = ({"Name":row[1]},row[0],[])
        categories.append(category)
    elif len(row[2]) > 0:
        categories[-1][-1].append(row[2].replace("or ",""))

categories = categories[:-1]
categories.pop(7)
categories

[({'Name': 'Linear Algebra'},
  1,
  ['MATH 320', 'MATH 340', 'MATH 341', 'MATH 375']),
 ({'Name': 'Probability (Complete at least one)'},
  1,
  ['MATH/ STAT  431', 'MATH/ STAT  309', 'MATH 531']),
 ({'Name': 'Statistics'}, 1, ['MATH/ STAT  310', 'STAT 312']),
 ({'Name': 'Intermediate Mathematics Requirement (complete at least one)'},
  2,
  ['MATH 321& MATH 322', 'MATH 341', 'MATH 375', 'MATH 421']),
 ({'Name': 'Advanced Mathematics Requirement (select one)'},
  1,
  ['MATH/ COMP SCI  514', 'MATH 521', 'MATH 531', 'MATH 535', 'MATH 540']),
 ({'Name': 'Elective to reach required six courses and 18 credits'},
  2,
  ['MATH/ COMP SCI  513',
   'MATH/ COMP SCI  514',
   'MATH 519',
   'MATH 521',
   'MATH 522',
   'MATH/ COMP SCI/ I SY E/ STAT  525',
   'MATH 531',
   'MATH 535',
   'MATH 540',
   'MATH 541',
   'MATH 542',
   'MATH 605',
   'MATH 619',
   'MATH 627',
   'MATH 629',
   'MATH/ I SY E/ OTM/ STAT  632',
   'MATH 635',
   'MATH 319',
   'MATH 321',
   'MATH 322',
   'MATH 376',
   'MATH 415',
   'MATH 421',
   'MATH/ COMP SCI/ I SY E  425',
   'MATH/ COMP SCI/ E C E  435',
   'MATH 443',
   'MATH 467',
   'MATH/ COMP SCI/ STAT  475']),
 ({'Name': 'Select a distinct introduction course or sequence: '},
  2,
  ['STAT 340', 'STAT/ M E  424']),
 ({'Name': 'Select remaining courses/credits from:'},
  3,
  ['ACT SCI 650',
   'ACT SCI 651',
   'ACT SCI 652',
   'ACT SCI 653',
   'ACT SCI 654',
   'ACT SCI 655',
   'GEN BUS 656',
   'STAT 349',
   'STAT 351',
   'STAT 411',
   'STAT 421',
   'STAT 456',
   'STAT 461',
   'STAT/ COMP SCI  471',
   'STAT/ COMP SCI/ MATH  475',
   'STAT/ COMP SCI/ I SY E/ MATH  525',
   'STAT 575',
   'STAT/ I SY E/ MATH/ OTM  632',
   'STAT/ B M I  641',
   'STAT/ B M I  642'])]